{% load static %}
<!-- JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{%  static 'assets/getfile/lib/wow/wow.min.js' %}"></script>
{#    <script src="lib/wow/wow.min.js"></script>#}
    <script src="{%  static 'assets/getfile/lib/easing/easing.min.js' %}"></script>
    <script src="{%  static 'assets/getfile/lib/waypoints/waypoints.min.js' %}"></script>
{#    <script src="lib/waypoints/waypoints.min.js"></script>#}
    <script src="{%  static 'assets/getfile/lib/owlcarousel/owl.carousel.min.js' %}"></script>
{#    <script src="lib/owlcarousel/owl.carousel.min.js"></script>#}

    <!-- Template Javascript -->
    <script src="{%  static 'assets/getfile/js/main.js' %}"></script>
{#    <script src="js/main.js"></script>#}
<!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{%  static 'assets/getfile/lib/wow/wow.min.js' %}"></script>
{#    <script src="lib/wow/wow.min.js"></script>#}
    <script src="{%  static 'assets/getfile/lib/easing/easing.min.js' %}"></script>
    <script src="{%  static 'assets/getfile/lib/waypoints/waypoints.min.js' %}"></script>
{#    <script src="lib/waypoints/waypoints.min.js"></script>#}
    <script src="{%  static 'assets/getfile/lib/owlcarousel/owl.carousel.min.js' %}"></script>
{#    <script src="lib/owlcarousel/owl.carousel.min.js"></script>#}

    <!-- Template Javascript -->
    <script src="{%  static 'assets/getfile/js/main.js' %}"></script>
{#    <script src="js/main.js"></script>#}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script>
     $(document).ready(function() {
            $.ajax({
                url: "{% url 'cart_item_count' %}",
                type: 'GET',
                dataType: 'json',
                success: function(response) {
                    updateCartItemCount(response.count);
                }
            });

            function updateCartItemCount(count) {
                $('#cart-item-count').text(count);
            }
        });
 </script>