{% include 'manager/homebase.html' %}
{% load static %}
<body>
{% include 'manager/hearder_left.html' %}
</div>
        </div>
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Danh mục sản phẩm</h3>
{#                <p class="text-subtitle text-muted">Give textual form controls like input upgrade with custom styles,#}
{#                    sizing, focus states, and more.</p>#}
            </div>
{#            <div class="col-12 col-md-6 order-md-2 order-first">#}
{#                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">#}
{#                    <ol class="breadcrumb">#}
{#                        <li class="breadcrumb-item"><a href="index.html">Danh mục</a></li>#}
{#                        <li class="breadcrumb-item active" aria-current="page">Thêm</li>#}
{#                    </ol>#}
{#                </nav>#}
{#            </div>#}
        </div>
    </div>
     <!-- Input Style start -->

    <section class="section">
        <div class="card">
            <div class="card-header">
                Hiển thị dòng
            </div>
            <div class="card-body">
                <table class="table table-striped" id="table1">
                    <thead>
                        <tr>
                            <th>Danh mục cha</th>
                            <th>Tên</th>
                            <th>description</th>
                            <th>Đường dẫn</th>
                            <th>Hình ảnh</th>
                            <th>Sửa</th>
                            <th>Xóa</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for get_data_category in get_list_categorys %}
                            <tr>

                                <td>{{ get_data_category.parent }}</td>
                                <td>{{ get_data_category.title }}</td>
                                <td>{{ get_data_category.description }}</td>
                                <td>{{ get_data_category.slug }}</td>
                                <th><img style="height: 50px; width: 100px;" src="{{ get_data_category.image.url }}" alt="Product Image"></th>
{#                                <td>#}
{##}
{#                                    <span class="badge bg-success">Active</span>#}
{#                                </td>#}
                                <td>
                                    <p class="text-info"><a href="/loginncb/update-category/{{get_data_category.id}}">Sửa</a> </p>
                                </td>
                                <td>

                                    <p class="text-info"><a style="color: red;" href="/loginncb/delete-category/{{get_data_category.id}}" onclick="return confirm('bạn có thực sự muốn xóa?')">Xóa</a> </p>
                                </td>
                            </tr>
                        {% endfor %}
                        <p>{{ ge }}</p>

                    </tbody>
                </table>
            </div>
        </div>

    </section>


</div>
{% include 'manager/footer.html' %}

 </div>
</div>
{% include 'manager/footer_javascrip.html' %}
<script src="{%  static 'assets/vendors/simple-datatables/simple-datatables.js' %}"></script>

<script>
    // Simple Datatable
    let table1 = document.querySelector('#table1');
    let dataTable = new simpleDatatables.DataTable(table1);
</script>
</body>


