{% include 'manager/homebase.html' %}
{% load static %}
<body>
{% include 'manager/hearder_left.html' %}
</div>
        </div>
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Danh sách video</h3>
{#                <p class="text-subtitle text-muted">Give textual form controls like input upgrade with custom styles,#}
{#                    sizing, focus states, and more.</p>#}
            </div>
{#            <div class="col-12 col-md-6 order-md-2 order-first">#}
{#                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">#}
{#                    <ol class="breadcrumb">#}
{#                        <li class="breadcrumb-item"><a href="index.html">Danh mục</a></li>#}
{#                        <li class="breadcrumb-item active" aria-current="page">Thêm</li>#}
{#                    </ol>#}
{#                </nav>#}
{#            </div>#}
        </div>
    </div>
     <!-- Input Style start -->

    <section class="section">
        <div class="card">
            <div class="card-header">
                Hiển thị dòng
            </div>
            <div class="card-body">
                <table class="table table-striped" id="table1">
                    <thead>
                        <tr>
                            <th>Tiêu đề</th>
                            <th>Tên sản phẩm</th>
                            <th>Số thứ tự</th>
                            <th>Videos</th>
                            <th>File pdf</th>
                            <th>Sửa</th>
                            <th>Xóa</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rs in gettitle %}
                            <tr>
                                <td>{{ rs.title }}</td>
                                <td>{{ rs.product.title }}</td>
                                <td>{{ rs.ordinal_numbers }}</td>
                                <td>
                                    <video width="100" height="60" controls>
                                        <source src="{{ rs.videos.url }}" type="video/mp4">
                                    </video>
                                </td>
                                <td>{{ rs.pdffile }}</td>
                                <td>
                                    <p class="text-info"><a href="{% url 'update_list_video' rs.id %}">Sửa</a> </p>
                                </td>
                                <td>

                                    <p class="text-info"><a style="color: red;" href="{% url 'delete_videos' rs.id %}" onclick="return confirm('bạn có thực sự muốn xóa?')">Xóa</a> </p>
                                </td>
                            </tr>
                        {% endfor %}
                        <p>{{ ge }}</p>

                    </tbody>
                </table>
            </div>
        </div>

    </section>


</div>
{% include 'manager/footer.html' %}

 </div>
</div>
{% include 'manager/footer_javascrip.html' %}
<script src="{%  static 'assets/vendors/simple-datatables/simple-datatables.js' %}"></script>

<script>
    // Simple Datatable
    let table1 = document.querySelector('#table1');
    let dataTable = new simpleDatatables.DataTable(table1);
</script>
</body>


