{% load static %}
<!-- ***** Preloader Start ***** -->
<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- ***** Preloader End ***** -->
<!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="{% url 'index' %}" class="logo">
                            <img src="{% static 'assets/update_new/images/klassy-logo.png' %}" align="klassy cafe html template">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Trang chủ</a></li>
                            <li class="scroll-to-section"><a href="#about">Tất cả khóa học</a></li>

                        <!--
                            <li class="submenu">
                                <a href="javascript:;">Drop Down</a>
                                <ul>
                                    <li><a href="#">Drop Down Page 1</a></li>
                                    <li><a href="#">Drop Down Page 2</a></li>
                                    <li><a href="#">Drop Down Page 3</a></li>
                                </ul>
                            </li>
                        -->
{#                            <li class="scroll-to-section"><a href="#menu">Khóa học của tôi</a></li>#}
{#                            <li class="scroll-to-section"><a href="#chefs">Chefs</a></li>#}
                            <li class="submenu">
                                <a href="javascript:;">Tài khoản</a>
                                {% if user.id is not None %}
                                    <ul>
                                        <li><a href="{% url 'indexprofile' %}">Thông tin</a></li>
                                        <li><a href="{% url 'user_oder_title' %}">Các khóa học đã mua</a></li>
                                        <li><a href="{% url 'change_password' %}">Đổi mật khẩu</a></li>
                                        <li><a href="{% url 'logout_func' %}">Đăng xuất</a></li>
                                    </ul>
                                {% else %}
                                    <ul>
                                        <li><a href="{% url 'login_user' %}">Đăng nhập</a></li>
                                        <li><a href="{% url 'register' %}">Đăng ký</a></li>
                                    </ul>
                                {% endif %}
                            </li>
                            <!-- <li class=""><a rel="sponsored" href="https://templatemo.com" target="_blank">External URL</a></li> -->
                            <li class="scroll-to-section"><a href="#reservation">Liên hệ</a></li>
                            <li class="scroll-to-section"><a href="{% url 'cart' %}">Giỏ hàng (<span id="cart-item-count"></span>)</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
