{% load static %}
<!-- jQuery -->
    <script src="{%  static 'assets/update_new/js/jquery-2.1.0.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{%  static 'assets/update_new/js/popper.js' %}"></script>
    <script src="{%  static 'assets/update_new/js/bootstrap.min.js' %}"></script>

    <!-- Plugins -->
    <script src="{%  static 'assets/update_new/js/owl-carousel.js' %}"></script>
    <script src="{%  static 'assets/update_new/js/accordions.js' %}"></script>
    <script src="{%  static 'assets/update_new/js/datepicker.js' %}"></script>
    <script src="{%  static 'assets/update_new/js/scrollreveal.min.js' %}"></script>
    <script src="{%  static 'assets/update_new/js/waypoints.min.js' %}"></script>
    <script src="{%  static 'assets/update_new/js/jquery.counterup.min.js' %}"></script>
    <script src="{%  static 'assets/update_new/js/imgfix.min.js' %}"></script>
    <script src="{%  static 'assets/update_new/js/slick.js' %}"></script>
    <script src="{%  static 'assets/update_new/js/lightbox.js' %}"></script>
    <script src="{%  static 'assets/update_new/js/isotope.js' %}"></script>

    <!-- Global Init -->
    <script src="{%  static 'assets/update_new/js/custom.js' %}"></script>
 <script>
     $(document).ready(function() {
            $.ajax({
                url: "{% url 'cart_item_count' %}",
                type: 'GET',
                dataType: 'json',
                success: function(response) {
                    updateCartItemCount(response.count);
                }
            });

            function updateCartItemCount(count) {
                $('#cart-item-count').text(count);
            }
        });
 </script>