{% include 'manager/homebase.html' %}
<body>
    <div class="row h-100">
        <div class="col-lg-3 col12"></div>
        <div class="col-lg-6 col-12">
            <div class="row">
                <div class="col-lg-2 col-12"></div>
                <div class="col-lg-8 col-12">
                    <div id="auth-left">
                        <div class="auth-logo">
{#                            <a href="index.html"><img src="assets/images/logo/logo.png" alt="Logo"></a>#}
                        </div>
                        <h1 class="auth-title" style="padding-top: 15px">Đăng Ký</h1>
                        <p class="auth-subtitle mb-5">Bạn phải đăng ký để tới được website.</p>

                        <form action="/register/" method="post">
                             {% csrf_token %}
                            <div class="form-group position-relative has-icon-left mb-4">
{#                                {{ form.email }}#}
                                <input type="text" name="email" class="form-control form-control-xl" placeholder="Email">
                                <div class="form-control-icon" style="top: 46%;">
                                    <i class="bi bi-envelope"></i>
                                </div>
                            </div>
{#                            <div class="form-group position-relative has-icon-left mb-4">#}
{#  #}
{#                                <input type="text" name="last_name" class="form-control form-control-xl" placeholder="Họ">#}
{#                                <div class="form-control-icon " style="top: 46%;">#}
{#                                    <i class="bi bi-person"></i>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="form-group position-relative has-icon-left mb-4">#}
{#                                {{ form.username }}#}
{#                                <input type="text" name="first_name" class="form-control form-control-xl" placeholder="Tên">#}
{#                                <div class="form-control-icon " style="top: 46%;">#}
{#                                    <i class="bi bi-person"></i>#}
{#                                </div>#}
{#                            </div>#}
                            <div class="form-group position-relative has-icon-left mb-4">
{#                                {{ form.username }}#}
                                <input type="text" name="username" class="form-control form-control-xl" placeholder="Username">
                                <div class="form-control-icon " style="top: 46%;">
                                    <i class="bi bi-person"></i>
                                </div>
                            </div>
                            <div class="form-group position-relative has-icon-left mb-4">
{#                                    {{ form.password1 }}#}
                                <input type="password" name="password1" class="form-control form-control-xl" placeholder="Password1">
                                <div class="form-control-icon" style="top: 46%;">
                                    <i class="bi bi-shield-lock"></i>
                                </div>
                            </div>
                            <div class="form-group position-relative has-icon-left mb-4">
{#                                {{ form.password2 }}#}
                                <input type="password" name="password2" class="form-control form-control-xl" placeholder="password2">
                                <div class="form-control-icon" style="top: 46%;">
                                    <i class="bi bi-shield-lock"></i>
                                </div>
                            </div>
                            <button class="btn btn-primary btn-bpt lock btn-lg shadow-lg mt-5">Sign Up</button>
                        </form>
                        <div class="text-center mt-5 text-lg fs-4">
                            <p class="form-group">
                                {% if messages %}
                                    {% for message in messages %}
                                        <p class="alert alert-{{ message.tags }}"><i class="bi bi-check-circle"></i>
                                            {{ message }}
                                        </p>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <p class='text-gray-600'>Bạn đã có tài khoản? <a href="{% url 'login_user' %}" class="font-bold">Đăng Nhập</a>.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-12"></div>
            </div>

        </div>
        <div class="col-lg-3 col12"></div>
    </div>
</body>

{% include 'manager/footer_javascrip.html' %}